@model RentalCar.Models.Client

@{
    ViewData["Title"] = "Apagar Cliente";
}

<h1>Apagar Cliente</h1>

<h3>Tens a certeza que queres apagar este cliente?</h3>

<div>
    <dl class="row">
        <dt class="col-sm-3">Nome</dt>
        <dd class="col-sm-9">@Model.NomeCompleto</dd>

        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">@Model.Email</dd>
    </dl>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Apagar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
