@{
    ViewData["Title"] = "Home";
}

<div class="text-center mt-5">
    <h1 class="display-4 fw-bold">Rental Car Grupo JAP</h1>
    <p class="lead mt-3">
        A sua solução completa para alugar um carro. Experimente já!
    </p>

</div>
